*{
    margin:0px;
}
.bg-light-green {
  background-color:rgb(28, 28, 28);
  
}


.btn-light-orange {
  background-color: #eae6e0; /* light orange */
  color: #212529; /* dark text */
  border: none;
}

.btn-light-orange:hover {
  background-color: #eae3dc; /* slightly darker on hover */
  color: #d57c08;
}

